.feelingsDiv {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.previousButton {
	margin-left: auto;
	margin-right: auto;
}

.nextButton {
	margin-left: auto;
	margin-right: auto;
}